Repository learntocloud/learn-to-cloud-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, eslint, typescript

ty:
  name: ty type check
  entry: bash -c 'cd api && uv run ty check'
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

fix(api): add OpenAPI 401 docs and order error codes in questions routes
  api/routes/questions_routes.py
Due: ty

chore: cleanup and add pytest review skill
  .github/skills/commit-push-watch-deploy/SKILL.md
  .github/skills/review-py-tests/SKILL.md
  .github/workflows/deploy.yml
  .github/workflows/infra.yml
  api/core/cache.py
  api/services/badges_service.py
  api/services/changelog_service.py
  api/services/content_service.py
  api/services/github_hands_on_verification_service.py
  api/services/hands_on_verification_service.py
  api/services/llm_service.py
  api/tests/repositories/test_submission_repository.py
  frontend/staticwebapp.config.json
  infra/container-apps.tf
  infra/variables.tf
Due: ty

feat: add smoke test job and improve pytest configuration
  .github/workflows/deploy.yml
  api/pytest.ini
  api/tests/conftest.py
  api/tests/factories.py
  api/tests/repositories/test_submission_repository.py
  api/tests/routes/test_certificates_routes.py
  api/tests/routes/test_github_routes.py
  api/tests/routes/test_health_routes.py
  api/tests/routes/test_questions_routes.py
  api/tests/routes/test_webhooks_routes.py
  api/tests/services/test_streaks_service.py
Due: ty

test: improve pytest suite with markers, autospec, time-machine, and hypothesis
  api/pytest.ini
  api/tests/conftest.py
  api/tests/repositories/test_activity_repository.py
  api/tests/repositories/test_certificate_repository.py
  api/tests/repositories/test_progress_repository.py
  api/tests/repositories/test_submission_repository.py
  api/tests/repositories/test_user_repository.py
  api/tests/repositories/test_webhook_repository.py
  api/tests/routes/test_activity_routes.py
  api/tests/routes/test_certificates_routes.py
  api/tests/routes/test_dashboard_routes.py
  api/tests/routes/test_github_routes.py
  api/tests/routes/test_questions_routes.py
  api/tests/routes/test_steps_routes.py
  api/tests/routes/test_users_routes.py
  api/tests/routes/test_webhooks_routes.py
  api/tests/services/test_activity_service.py
  api/tests/services/test_badges_service.py
  api/tests/services/test_certificates_service.py
  api/tests/services/test_clerk_service.py
  api/tests/services/test_content_service.py
  api/tests/services/test_progress_service.py
  api/tests/services/test_questions_service.py
  api/tests/services/test_steps_service.py
  api/tests/services/test_streaks_properties.py
  api/tests/services/test_streaks_service.py
  api/tests/services/test_submissions_service.py
  api/tests/services/test_webhooks_service.py
Due: ty

Update developement setup and frontend security vulnerabilities
  .devcontainer/devcontainer.json
  .gitignore
  PR_SUMMARY.md
  README.md
  api/alembic/env.py
  frontend/package-lock.json
  frontend/package.json
Due: ty

Remove PR Summary
  PR_SUMMARY.md
Due: none

Refactor cicd architecture and strategy to account for ephemeral dev environment, include to do list
  .github/actions/deploy-api/action.yml
  .github/actions/setup-azure-env/action.yml
  .github/instructions/github-actions-ci-cd-best-practices.instructions.md
  .github/workflows/build-and-push.yml
  .github/workflows/dev-deploy.yml
  .github/workflows/infra-apply.yml
  .github/workflows/infra-destroy.yml
  .github/workflows/infra.yml
  .github/workflows/lint-and-test.yml
  .github/workflows/prod-deploy.yml
  .github/workflows/weekly-rebuild.yml
  docs/ci-cd-strategy-simplified.md
  docs/ci-cd-strategy.md
  docs/cicd-setup-todo.md
Due: none

docs(skills): consolidate instructions and remove redundant skills
  .github/instructions/copilot-terminology.instructions.md
  .github/instructions/python.instructions.md
  .github/instructions/terraform.instructions.md
  .github/instructions/vite.instructions.md
  .github/skills/azure-logs/SKILL.md
  .github/skills/azure-logs/fetch-logs.sh
  .github/skills/azure-logs/reset-database.sh
  .github/skills/commit-push-watch-deploy/SKILL.md
  .github/skills/debug-progression/SKILL.md
  .github/skills/debug-progression/check-requirements.sh
  .github/skills/frontend-library-review/SKILL.md
  .github/skills/python-library-review/SKILL.md
  .github/skills/review-api-routes/SKILL.md
  .github/skills/review-comments/SKILL.md
Due: none

chore: update pre-commit configuration for cross-platform compatibility and enhance test markers in service and repository tests
  .pre-commit-config.yaml
  CONTRIBUTING.md
  api/tests/repositories/test_activity_repository.py
  api/tests/repositories/test_certificate_repository.py
  api/tests/repositories/test_progress_repository.py
  api/tests/repositories/test_submission_repository.py
  api/tests/repositories/test_user_repository.py
  api/tests/repositories/test_webhook_repository.py
  api/tests/routes/test_certificates_routes.py
  api/tests/routes/test_github_routes.py
  api/tests/routes/test_questions_routes.py
  api/tests/routes/test_steps_routes.py
  api/tests/routes/test_users_routes.py
  api/tests/services/test_activity_service.py
  api/tests/services/test_badges_service.py
  api/tests/services/test_certificates_service.py
  api/tests/services/test_clerk_service.py
  api/tests/services/test_content_service.py
  api/tests/services/test_questions_service.py
  api/tests/services/test_steps_service.py
  api/tests/services/test_streaks_properties.py
  api/tests/services/test_streaks_service.py
  api/tests/services/test_webhooks_service.py
  frontend/package-lock.json
  frontend/src/mocks/handlers.ts
Due: ty, eslint, typescript

refactor: separate CI/CD workflows with path-based filtering
  .github/workflows/api-ci.yml
  .github/workflows/deploy.yml
  .github/workflows/frontend-ci.yml
Due: none

fix: lower coverage threshold to 65% and fix clerk mock conflict
  api/pytest.ini
  api/tests/conftest.py
Due: ty

test(api): add comprehensive tests for 80% coverage
  api/pytest.ini
  api/tests/core/test_database.py
  api/tests/rendering/test_certificates.py
  api/tests/services/test_changelog_service.py
  api/tests/services/test_ctf_service.py
  api/tests/services/test_github_hands_on_verification_service.py
  api/tests/services/test_hands_on_verification_service.py
  api/tests/services/test_llm_service.py
Due: ty

fix(tests): resolve ruff lint errors in test files
  api/tests/core/test_database.py
  api/tests/rendering/test_certificates.py
  api/tests/services/test_changelog_service.py
  api/tests/services/test_github_hands_on_verification_service.py
  api/tests/services/test_hands_on_verification_service.py
  api/tests/services/test_llm_service.py
Due: ty

refactor(skills): consolidate Git/commit instructions into general.instructions.md
  .github/instructions/general.instructions.md
  .github/instructions/python.instructions.md
  .github/instructions/terraform.instructions.md
  .github/instructions/vite.instructions.md
  .github/skills/commit-push-watch-deploy/SKILL.md
  .github/skills/review-py-tests/SKILL.md
Due: none

chore: remove unused .api-pid file and journal-starter-review subproject
  .api-pid
Due: none

fix(api): remove 4xx error span status per OTel conventions
  api/core/telemetry.py
Due: ty

fix(api): use structured logging instead of f-string interpolation
  api/alembic/env.py
  api/services/ctf_service.py
Due: ty

docs: add rule to never skip pre-commit hooks
  .github/instructions/general.instructions.md
Due: none

fix(api): resolve all type errors in test files and services
  api/alembic/env.py
  api/services/users_service.py
  api/tests/routes/test_github_routes.py
  api/tests/services/test_progress_service.py
  api/tests/services/test_submissions_service.py
  api/tests/services/test_webhooks_service.py
Due: ty

refactor(api): remove type checker ignore comments
  api/alembic/env.py
  api/alembic/script.py.mako
  api/alembic/versions/86361256be54_initial_schema.py
  api/alembic/versions/add_grading_concepts_table.py
  api/alembic/versions/drop_grading_concepts_table.py
  api/core/telemetry.py
  api/main.py
  api/pyproject.toml
  api/services/hands_on_verification_service.py
  api/services/llm_service.py
  api/tests/core/test_database.py
  api/tests/services/test_progress_service.py
Due: ty

docs: consolidate documentation and refine agent customization
  .github/instructions/frontend.instructions.md
  .github/instructions/general.instructions.md
  .github/instructions/progression.instructions.md
  .github/instructions/python.instructions.md
  .github/instructions/terraform.instructions.md
  .github/skills/cicd-debug/SKILL.md
  .github/skills/query-db/SKILL.md
  .github/skills/review-api-routes/SKILL.md
  CONTRIBUTING.md
  README.md
  docs/IAC.md
  docs/alerting-strategy.md
  docs/ci-cd.md
  docs/content-strategy.md
  docs/database-strategy.md
  docs/docker-strategy.md
  docs/hands-on-verification-system.md
  docs/logging-strategy.md
  docs/progression-system.md
  docs/social-media-update-jan-2026.md
  docs/testing-strategy.md
  infra/QUERIES.md
Due: none

fix(api): improve exception handling across API layer
  api/core/database.py
  api/main.py
  api/services/ctf_service.py
  api/services/questions_service.py
  api/tests/services/test_streaks_properties.py
Due: ty

refactor(api): centralize locking logic in progress_service
  api/pyproject.toml
  api/services/dashboard_service.py
  api/services/progress_service.py
  api/uv.lock
Due: ty

feat(frontend): add Playwright e2e testing setup
  .playwright-mcp/page-2026-01-26T05-31-13-236Z.png
  api/core/config.py
  frontend/.gitignore
  frontend/e2e/authenticated.spec.ts
  frontend/e2e/global-setup.ts
  frontend/e2e/smoke.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
Due: ty, eslint, typescript

chore(infra): improve devcontainer setup and DX
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  frontend/.env.example
  frontend/.gitignore
Due: none

feat(frontend): add Playwright E2E testing infrastructure
  .devcontainer/post-create.sh
  .github/instructions/general.instructions.md
  api/pyproject.toml
  api/uv.lock
  frontend/e2e/global-setup.ts
Due: eslint, typescript

feat(api): add Phase 2 AI-powered code verification
  api/core/config.py
  api/core/copilot_client.py
  api/main.py
  api/models.py
  api/pyproject.toml
  api/repositories/submission_repository.py
  api/routes/github_routes.py
  api/schemas.py
  api/services/copilot_verification_service.py
  api/services/hands_on_verification_service.py
  api/services/phase_requirements_service.py
  api/services/submissions_service.py
  api/tests/repositories/test_submission_repository.py
  api/tests/services/test_copilot_verification_service.py
  api/uv.lock
Due: ty

fix(api): skip cooldown when code analysis has server errors
  api/schemas.py
  api/services/copilot_verification_service.py
  api/services/submissions_service.py
  api/tests/routes/test_github_routes.py
  api/tests/services/test_submissions_service.py
Due: ty

fix(api): track verification_completed for cooldown logic
  api/alembic/versions/f850574aa017_add_verification_completed_to_.py
  api/models.py
  api/repositories/submission_repository.py
  api/schemas.py
  api/services/submissions_service.py
Due: ty

feat(api): add Phase 2 code analysis verification
  api/.env.example
  api/alembic/versions/5aba277e1361_add_feedback_json_to_submissions.py
  api/core/config.py
  api/core/copilot_client.py
  api/models.py
  api/repositories/submission_repository.py
  api/routes/github_routes.py
  api/schemas.py
  api/services/copilot_verification_service.py
  api/services/dashboard_service.py
  api/services/phase_requirements_service.py
  api/services/submissions_service.py
  frontend/.gitignore
  frontend/src/components/PhaseVerificationForm.tsx
  frontend/src/lib/api-client.ts
  frontend/src/lib/types.ts
Due: ty, eslint, typescript

feat(api): add trend analytics and admin dashboard
  api/alembic/versions/a1b2c3d4e5f6_add_daily_metrics_table.py
  api/alembic/versions/c7d8e9f0a1b2_add_daily_metrics_table.py
  api/alembic/versions/fbf1487c82dc_rename_daily_metrics_date_to_metric_date.py
  api/alembic/versions/remove_phase3_topic1_content.py
  api/main.py
  api/models.py
  api/repositories/metrics_repository.py
  api/routes/__init__.py
  api/routes/admin_routes.py
  api/schemas.py
  api/scripts/aggregate_metrics.py
  api/scripts/seed_trend_data.py
  api/services/metrics_service.py
  frontend/src/App.tsx
  frontend/src/components/Layout.tsx
  frontend/src/lib/api-client.ts
  frontend/src/lib/hooks.ts
  frontend/src/lib/types.ts
  frontend/src/pages/AdminTrendsPage.tsx
  frontend/src/pages/index.ts
Due: ty, eslint, typescript

docs: update instruction files
  .github/instructions/frontend.instructions.md
  .github/instructions/general.instructions.md
  .github/instructions/progression.instructions.md
  .github/instructions/python.instructions.md
  .github/instructions/terraform.instructions.md
  .github/instructions/vite.instructions.md
Due: none

feat(api): add networking lab verification service
  .github/workflows/infra.yml
  api/.env.example
  api/core/config.py
  api/core/wide_event.py
  api/models.py
  api/schemas.py
  api/services/ctf_service.py
  api/services/hands_on_verification_service.py
  api/services/networking_lab_service.py
  api/services/phase_requirements_service.py
  api/tests/conftest.py
  api/tests/services/test_networking_lab_service.py
  frontend/src/components/PhaseVerificationForm.tsx
  infra/container-apps.tf
  infra/terraform.tfvars.example
  infra/variables.tf
Due: ty, eslint, typescript

refactor: unlock all content - remove progress gating
  api/openapi.json
  api/routes/steps_routes.py
  api/services/progress_service.py
  api/services/steps_service.py
  docs/progression-system.md
  frontend/src/pages/PhasePage.tsx
  frontend/src/pages/TopicPage.tsx
Due: ty, eslint, typescript

refactor(api): defer imports, streamline tests, add activity heatmap
  .github/instructions/general.instructions.md
  .github/instructions/python.instructions.md
  .pre-commit-config.yaml
  api/alembic/versions/add_phase_id_to_progress_tables.py
  api/core/auth.py
  api/main.py
  api/openapi.json
  api/pyproject.toml
  api/pytest.ini
  api/routes/webhooks_routes.py
  api/scripts/profile_startup.py
  api/services/hands_on_verification_service.py
  api/services/phase_requirements_service.py
  api/services/progress_service.py
  api/services/users_service.py
  api/tests/conftest.py
  api/tests/core/test_database.py
  api/tests/rendering/test_certificates.py
  api/tests/services/test_badges_service.py
  api/tests/services/test_clerk_service.py
  api/tests/services/test_content_service.py
  api/tests/services/test_ctf_service.py
  api/tests/services/test_networking_lab_service.py
  api/uv.lock
  frontend/src/lib/api/schema.ts
Due: ty, eslint, typescript

Path conditions:
  ty: any of: ^api/.*\.py$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
