Repository learntocloud/learn-to-cloud-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, eslint, typescript

.pre-commit-config.yaml:

# Pre-commit hooks for Learn to Cloud App
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: tsconfig.*\.json$  # tsconfig files use JSONC (JSON with comments)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

  # Python - Ruff (linting + formatting)
  # NOTE: Keep version in sync with api/pyproject.toml [project.optional-dependencies] dev ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [--fix]
        files: ^api/
      - id: ruff-format
        files: ^api/

  # Python - ty (type checking)
  - repo: local
    hooks:
      - id: ty
        name: ty type check
        entry: bash -c 'cd api && uv run ty check'
        language: system
        files: ^api/.*\.py$
        pass_filenames: false

  # Frontend - ESLint + Prettier
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: typescript
        name: TypeScript Check
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

feat(infra): implement infrastructure for Azure resources including container registry, PostgreSQL server, and monitoring setup
  infra/container-apps.tf
Due: none

feat(infra): add Terraform configuration for PostgreSQL, monitoring, and static web app resources
  infra/database.tf
  infra/identity.tf
  infra/monitoring.tf
  infra/outputs.tf
  infra/provider.tf
  infra/resource-group.tf
  infra/static-web-app.tf
  infra/terraform.tfvars.example
Due: none

docs: update IAC documentation with detailed file structure for Terraform configuration
  docs/IAC.md
Due: none

chore(frontend): disable vitest in deploy.yml
  .github/workflows/deploy.yml
Due: none

Refactor health check routes and enhance telemetry logging
  .github/workflows/deploy.yml
  api/alembic.ini
  api/alembic/env.py
  api/core/auth.py
  api/core/cache.py
  api/core/config.py
  api/core/database.py
  api/core/ratelimit.py
  api/core/telemetry.py
  api/main.py
  api/pyproject.toml
  api/repositories/user_repository.py
  api/repositories/utils.py
  api/routes/health_routes.py
  api/services/activity_service.py
  api/services/badges_service.py
  api/services/content_service.py
  api/services/github_hands_on_verification_service.py
  api/services/progress_service.py
  api/services/webhooks_service.py
  api/uv.lock
  docs/alerting-strategy.md
  docs/database-strategy.md
  docs/social-media-update-jan-2026.md
  docs/testing-strategy.md
  infra/main.tf
  infra/outputs.tf
  infra/variables.tf
Due: ty

refactor: remove SVG certificate generation endpoints and related API client methods
  api/rendering/certificates.py
  api/routes/certificates_routes.py
  frontend/src/lib/api-client.ts
Due: ty, eslint, typescript

repositories code review
  .github/skills/python-library-review/SKILL.md
  .github/skills/review-comments/SKILL.md
  .github/skills/validate-changes/SKILL.md
  api/repositories/activity_repository.py
  api/repositories/certificate_repository.py
  api/repositories/progress_repository.py
  api/repositories/submission_repository.py
  api/repositories/user_repository.py
  api/repositories/utils.py
  api/repositories/webhook_repository.py
  api/services/submissions_service.py
Due: ty

refactor: consolidate dataclasses to schemas.py and add structlog
  .github/skills/debug-progression/check-requirements.sh
  .github/skills/validate-changes/SKILL.md
  api/core/__init__.py
  api/core/auth.py
  api/core/database.py
  api/core/logger.py
  api/core/ratelimit.py
  api/core/telemetry.py
  api/main.py
  api/pyproject.toml
  api/repositories/__init__.py
  api/repositories/utils.py
  api/routes/activity_routes.py
  api/routes/certificates_routes.py
  api/routes/dashboard_routes.py
  api/routes/github_routes.py
  api/routes/steps_routes.py
  api/routes/users_routes.py
  api/routes/webhooks_routes.py
  api/schemas.py
  api/services/activity_service.py
  api/services/badges_service.py
  api/services/certificates_service.py
  api/services/clerk_service.py
  api/services/content_service.py
  api/services/ctf_service.py
  api/services/dashboard_service.py
  api/services/github_hands_on_verification_service.py
  api/services/hands_on_verification_service.py
  api/services/llm_service.py
  api/services/phase_requirements_service.py
  api/services/progress_service.py
  api/services/questions_service.py
  api/services/steps_service.py
  api/services/streaks_service.py
  api/services/submissions_service.py
  api/services/users_service.py
  api/services/webhooks_service.py
  api/uv.lock
  docs/hands-on-verification-system.md
Due: ty

Implement cicd enhancements, add info on cicd strategy and todo
  .github/workflows/build-and-push.yml
  .github/workflows/deploy.yml
  .github/workflows/dev-deploy.yml
  .github/workflows/infra.yml
  .github/workflows/lint-and-test.yml
  .github/workflows/prod-deploy.yml
  .github/workflows/weekly-rebuild.yml
  docs/ci-cd-strategy.md
  docs/ci-cd.md
  docs/cicd-setup-todo.md
Due: none

chore: add .gitattributes for LF normalization and binary file handling
  .gitattributes
Due: none

Remove variable section from doc strategy
  docs/ci-cd-strategy.md
Due: none

Add detail in cicd todo
  docs/cicd-setup-todo.md
Due: none

refactor(api): improve route ordering, docs, and add ensure_user_exists
  .github/skills/review-api-routes/SKILL.md
  .github/skills/validate-changes/SKILL.md
  .github/skills/validate-changes/smoke-test.ps1
  .github/skills/validate-changes/start-api.ps1
  .github/skills/validate-changes/stop-api.ps1
  README.md
  api/.env.example
  api/routes/activity_routes.py
  api/routes/certificates_routes.py
  api/routes/dashboard_routes.py
  api/routes/github_routes.py
  api/routes/health_routes.py
  api/routes/questions_routes.py
  api/routes/steps_routes.py
  api/routes/webhooks_routes.py
  api/services/users_service.py
  api/uv.lock
  frontend/package-lock.json
  frontend/src/components/TopicContent.tsx
  frontend/src/lib/hooks.ts
Due: ty, eslint, typescript

frontend review
  .github/skills/frontend-library-review/SKILL.md
  frontend/src/App.tsx
  frontend/src/components/ActivityHeatmap.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/KnowledgeQuestion.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/PhaseCelebrationModal.tsx
  frontend/src/components/PhaseCompletionCheck.tsx
  frontend/src/components/PhaseVerificationForm.tsx
  frontend/src/components/SubmissionsShowcase.tsx
  frontend/src/components/ThemeToggle.tsx
  frontend/src/components/TopicContent.tsx
  frontend/src/components/phase-badge-data.ts
  frontend/src/lib/constants.ts
  frontend/src/main.tsx
  frontend/src/pages/CertificatesPage.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/FAQPage.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/NotFoundPage.tsx
  frontend/src/pages/PhasePage.tsx
  frontend/src/pages/PhasesPage.tsx
  frontend/src/pages/ProfilePage.tsx
  frontend/src/pages/SignInPage.tsx
  frontend/src/pages/SignUpPage.tsx
  frontend/src/pages/TopicPage.tsx
  frontend/src/pages/VerifyPage.tsx
  frontend/src/shared/clerkAppearance.ts
Due: eslint, typescript

frontend review
  .github/skills/validate-changes/SKILL.md
  .github/skills/validate-changes/smoke-test.ps1
  .github/skills/validate-changes/start-api.ps1
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: quiz attempt limiting with 1-hour lockout after 3 failures
  api/core/config.py
  api/repositories/progress_repository.py
  api/routes/questions_routes.py
  api/schemas.py
  api/services/dashboard_service.py
  api/services/progress_service.py
  api/services/questions_service.py
  frontend/src/components/KnowledgeQuestion.tsx
  frontend/src/components/TopicContent.tsx
  frontend/src/lib/api-client.ts
  frontend/src/lib/types.ts
Due: ty, eslint, typescript

fix(questions): show lockout banner immediately on 3rd failed attempt
  api/routes/questions_routes.py
  api/schemas.py
  api/services/questions_service.py
  frontend/src/components/KnowledgeQuestion.test.tsx
  frontend/src/components/KnowledgeQuestion.tsx
  frontend/src/lib/types.ts
Due: ty, eslint, typescript

fix: resolve lint errors blocking CI
  api/services/users_service.py
  api/tests/conftest.py
  api/tests/factories.py
  api/tests/repositories/test_progress_repository.py
  api/tests/repositories/test_submission_repository.py
  api/tests/routes/test_certificates_routes.py
  api/tests/routes/test_questions_routes.py
  api/tests/routes/test_users_routes.py
  api/tests/services/test_webhooks_service.py
  frontend/src/components/ThemeToggle.test.tsx
  frontend/src/pages/HomePage.test.tsx
Due: ty, eslint, typescript

fix: resolve type check errors in tests
  api/tests/factories.py
  frontend/src/components/ErrorBoundary.test.tsx
  frontend/src/components/ThemeToggle.test.tsx
  frontend/src/lib/theme.test.ts
  frontend/src/pages/HomePage.test.tsx
  frontend/src/vite-env.d.ts
Due: ty, eslint, typescript

fix: set test env vars before imports in conftest
  api/tests/conftest.py
Due: ty

fix: initialize wide_event context for all tests
  .github/agents/ralph-reviewer.agent.md
  .github/agents/ralph-worker.agent.md
  .github/scripts/ralph-loop.sh
  .github/skills/ralph-loop/SKILL.md
  api/tests/conftest.py
Due: ty

fix: skip database tests when PostgreSQL unavailable
  api/tests/conftest.py
Due: ty

feat(api): Add changelog endpoint with weekly GitHub commit aggregation
  .github/agents/ralph-reviewer.agent.md
  .github/agents/ralph-worker.agent.md
  .github/instructions/python.instructions.md
  .github/scripts/ralph-loop.sh
  .github/skills/commit-deploy/SKILL.md
  .github/skills/ralph-loop/SKILL.md
  api/main.py
  api/routes/__init__.py
  api/routes/changelog_routes.py
  api/schemas.py
  api/services/changelog_service.py
  frontend/src/App.tsx
  frontend/src/components/Layout.tsx
  frontend/src/lib/api-client.ts
  frontend/src/lib/types.ts
  frontend/src/pages/ChangelogPage.tsx
  frontend/src/pages/index.ts
Due: ty, eslint, typescript

security: remove tfplan from repo (contains secrets)
  .gitignore
  infra/tfplan
Due: none

feat(auth): proxy Clerk FAPI and use SWA hostname
  .github/workflows/deploy.yml
  .github/workflows/infra.yml
  api/main.py
  api/routes/__init__.py
  api/routes/changelog_routes.py
  api/routes/clerk_routes.py
  api/schemas.py
  api/services/changelog_service.py
  api/tests/repositories/test_submission_repository.py
  frontend/src/App.tsx
  frontend/src/components/Layout.tsx
  frontend/src/lib/types.ts
  frontend/src/main.tsx
  frontend/src/pages/ChangelogPage.tsx
  frontend/src/pages/UpdatesPage.tsx
  frontend/src/pages/index.ts
  frontend/src/vite-env.d.ts
  frontend/staticwebapp.config.json
  infra/container-apps.tf
Due: ty, eslint, typescript

fix(auth): route Clerk proxy through api
  .github/workflows/deploy.yml
  .github/workflows/infra.yml
  api/routes/clerk_routes.py
  frontend/staticwebapp.config.json
  infra/container-apps.tf
  infra/variables.tf
Due: ty

fix(frontend): rename getChangelog to getUpdates, correct API path
  frontend/src/lib/api-client.ts
Due: eslint, typescript

fix(api): add rate limit and OpenAPI docs to POST /certificates
  api/routes/certificates_routes.py
Due: ty

fix(api): add rate limits to /health/detailed and /ready endpoints
  api/routes/health_routes.py
Due: ty

fix(api): remove redundant model_dump() in user response
  api/routes/users_routes.py
Due: ty

fix(api): add status_code=201 to POST /webhooks/clerk
  api/routes/webhooks_routes.py
  api/tests/routes/test_webhooks_routes.py
Due: ty

fix(api): add OpenAPI 401 response docs to /activity/streak
  api/routes/activity_routes.py
Due: ty

fix(api): add OpenAPI error response docs to certificates routes
  api/routes/certificates_routes.py
Due: ty

fix(api): add OpenAPI error response docs to dashboard routes
  api/routes/dashboard_routes.py
Due: ty

fix(api): add OpenAPI 401 response docs to steps routes
  api/routes/steps_routes.py
Due: ty

fix(api): add OpenAPI error response docs to users routes
  api/routes/users_routes.py
Due: ty

fix(api): add OpenAPI 401 response docs to github routes
  api/routes/github_routes.py
Due: ty
