Repository learntocloud/learn-to-cloud-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, eslint, typescript

.pre-commit-config.yaml:

# Pre-commit hooks for Learn to Cloud App
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: tsconfig.*\.json$  # tsconfig files use JSONC (JSON with comments)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

  # Python - Ruff (linting + formatting)
  # NOTE: Keep version in sync with api/pyproject.toml [project.optional-dependencies] dev ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [--fix]
        files: ^api/
      - id: ruff-format
        files: ^api/

  # Python - ty (type checking)
  - repo: local
    hooks:
      - id: ty
        name: ty type check
        entry: bash -c 'cd api && uv run ty check'
        language: system
        files: ^api/.*\.py$
        pass_filenames: false

  # Frontend - ESLint + Prettier
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: typescript
        name: TypeScript Check
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

fix: update API client tests to use relative URLs consistently
  frontend/src/lib/api-client.test.ts
  frontend/src/test/setup.ts
Due: eslint, typescript

refactor: remove obvious section divider and type comments
  .pre-commit-config.yaml
  frontend/src/lib/api-client.ts
Due: eslint, typescript

refactor: remove additional obvious section dividers
  api/schemas.py
  frontend/src/lib/constants.ts
  frontend/src/lib/hooks.ts
  frontend/src/lib/types.ts
Due: ty, eslint, typescript

feat: enhance CI/CD workflows with security rebuild and caching optimizations
  .github/workflows/deploy.yml
  .github/workflows/weekly-rebuild.yml
  api/Dockerfile
  api/docs/docker-configuration.md
  frontend/Dockerfile
Due: none

fix: add lifecycle ignore_changes to random_string to prevent state drift
  infra/main.tf
Due: none

Fix CI: add PYTHONPATH for alembic migrations and tests
  .github/workflows/test.yml
Due: none

refactor: update CI/CD documentation and remove obsolete API tests workflow
  .github/instructions/cicd.instructions.md
  .github/workflows/test.yml
Due: none

refactor: remove outdated documentation and improve testing infrastructure
  API_TEST_IMPROVEMENTS.md
  API_TEST_REVIEW.md
  CONFIGURATION_UPDATES.md
  FRONTEND_IMPROVEMENTS.md
Due: none

fix: reduce initial delay for frontend container app health checks
  infra/main.tf
Due: none

fix: use datetime.UTC alias (ruff UP017)
  api/alembic/versions/add_grading_concepts_table.py
  api/coverage.xml
  api/docs/grading-concepts.md
  api/scripts/seed_grading_concepts.py
Due: ty

fix: use async_sessionmaker for type checking
  api/scripts/seed_grading_concepts.py
Due: ty

fix: line length (ruff E501)
  api/scripts/seed_grading_concepts.py
Due: ty

fix: sync grading concepts on startup instead of via az exec
  .github/skills/commit-deploy/SKILL.md
  .github/workflows/deploy.yml
  api/docs/grading-concepts.md
  api/main.py
  infra/main.tf
Due: ty

fix: line length
  api/main.py
Due: ty

fix: SWA fallback exclusion pattern for nested content paths
  frontend/staticwebapp.config.json
Due: none

fix: SWA exclude all .json files (no double wildcard)
  frontend/staticwebapp.config.json
Due: none

fix: run prepare_frontend_content.py before frontend build
  .github/workflows/deploy.yml
Due: none

fix: SWA exclude content/*.json
  frontend/staticwebapp.config.json
Due: none

fix: simplify SWA config, use /.json exclude
  frontend/staticwebapp.config.json
Due: none

fix: remove SWA exclude pattern (may be overriding file serving)
  frontend/staticwebapp.config.json
Due: none

Debug: Add step to list dist contents before SWA deploy
  .github/workflows/deploy.yml
Due: none

Fix: Deploy from frontend/dist directly with config copy
  .github/workflows/deploy.yml
Due: none

Cleanup: Remove debug step from workflow
  .github/workflows/deploy.yml
Due: none

Fix: Remove VITE_API_URL requirement for SWA deployment
  frontend/src/main.tsx
Due: eslint, typescript

fix(api): shorten line in content_service.py
  api/services/content_service.py
Due: ty

fix(api): update ruff args to exit non-zero on fix and enable user info query based on authentication
  .pre-commit-config.yaml
  docs/content-strategy.md
  frontend/src/lib/hooks.ts
Due: eslint, typescript

refactor: remove deprecated scripts and Docker configurations; update CI/CD documentation
  .github/workflows/deploy-content.yml
  .github/workflows/deploy.yml
  README.md
  api/.dockerignore
  api/cli.py
  api/main.py
  api/scripts/create_tables.py
  api/scripts/list_tables.py
  api/scripts/migrate.py
  api/scripts/recreate_database.py
  api/scripts/seed_test_certificate.py
  docs/ci-cd.md
  docs/docker-strategy.md
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/nginx.conf
Due: ty

feat(monitoring): add Azure monitoring resources and outputs for alerts and dashboard
  infra/main.tf
  infra/outputs.tf
  infra/variables.tf
Due: none

fix(infra): import existing custom domain and remove duplicate smart detector
  infra/main.tf
Due: none

fix(infra): remove import block (resource imported manually)
  infra/main.tf
Due: none

fix(infra): properly manage smart detector via Terraform import
  infra/main.tf
Due: none

docs: fix Failure Anomalies severity to Sev3 (Azure default)
  docs/IAC.md
  docs/alerting-strategy.md
Due: none

chore: cleanup unused frontend assets and update content strategy
  docs/content-strategy.md
  frontend/public/file.svg
  frontend/public/globe.svg
  frontend/public/next.svg
  frontend/public/vercel.svg
  frontend/public/window.svg
  frontend/src/lib/content.ts
  frontend/src/pages/PhasePage.tsx
  frontend/src/pages/TopicPage.tsx
  frontend/tsconfig.json
Due: eslint, typescript
