Repository learntocloud/learn-to-cloud-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, eslint, typescript

.pre-commit-config.yaml:

# Pre-commit hooks for Learn to Cloud App
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: tsconfig.*\.json$  # tsconfig files use JSONC (JSON with comments)
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

  # Python - Ruff (linting + formatting)
  # NOTE: Keep version in sync with api/pyproject.toml [project.optional-dependencies] dev ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [--fix]
        files: ^api/
      - id: ruff-format
        files: ^api/

  # Python - ty (type checking)
  - repo: local
    hooks:
      - id: ty
        name: ty type check
        entry: bash -c 'cd api && uv run ty check'
        language: system
        files: ^api/.*\.py$
        pass_filenames: false

  # Frontend - ESLint + Prettier
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: typescript
        name: TypeScript Check
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

docs(skills): update git-commit to watch specific CI run
  .github/skills/git-commit/git-commit.md
Due: none

refactor(api,frontend): move business logic from frontend to API
  .github/instructions/cicd.instructions.md
  .github/skills/azure-debug/azure-debug.md
  .github/skills/git-commit/git-commit.md
  .github/skills/local-development/local-development.md
  .github/skills/progression-system/progression-system.md
  .github/skills/python-api/python-api.md
  .github/skills/streaks/streaks.md
  .github/workflows/deploy.yml
  api/schemas.py
  api/services/dashboard.py
  frontend/src/components/PhaseVerificationForm.tsx
  frontend/src/components/app-insights-provider.tsx
  frontend/src/components/certificate-card.tsx
  frontend/src/components/github-submission.tsx
  frontend/src/components/phase-verification-form.tsx
  frontend/src/lib/api-client.ts
  frontend/src/lib/app-insights.ts
  frontend/src/lib/hooks.ts
  frontend/src/lib/types.ts
  frontend/src/pages/PhasePage.tsx
Due: ty, eslint, typescript

refactor: clean up frontend, fix Terraform, add Copilot skills
  .github/instructions/copilot-terminology.instructions.md
  .github/skills/azure-debug/SKILL.md
  .github/skills/code-review/SKILL.md
  .github/skills/custom-domain/SKILL.md
  .github/skills/debug-deploy/SKILL.md
  .github/skills/debug-deploy/debug-deploy.sh
  .github/skills/git-commit/SKILL.md
  .github/skills/local-development/SKILL.md
  .github/skills/progression-system/SKILL.md
  .github/skills/python-api/SKILL.md
  .github/skills/streaks/SKILL.md
  .github/workflows/deploy.yml
  frontend/src/components/ActivityHeatmap.tsx
  frontend/src/components/CelebrationProvider.tsx
  frontend/src/components/PhaseCelebrationModal.tsx
  frontend/src/components/PhaseCompletionCheck.tsx
  frontend/src/components/SubmissionsShowcase.tsx
  frontend/src/components/TopicContent.tsx
  frontend/src/pages/PhasePage.tsx
  frontend/src/pages/ProfilePage.tsx
  frontend/src/pages/TopicPage.tsx
  infra/main.tf
Due: eslint, typescript

fix(docker): remove syntax directive that requires Docker Hub
  api/Dockerfile
Due: none

refactor(frontend): remove unused code and normalize badges
  frontend/src/App.tsx
  frontend/src/components/ActivityHeatmap.tsx
  frontend/src/components/AppInsightsProvider.tsx
  frontend/src/components/CelebrationProvider.tsx
  frontend/src/components/PhaseCompletionCheck.tsx
  frontend/src/lib/api-client.ts
  frontend/src/lib/types.ts
  frontend/src/pages/ProfilePage.tsx
Due: eslint, typescript

domain bind
  .github/workflows/deploy.yml
Due: none

refactor(infra): create new workflow for applying Terraform changes
  .github/workflows/deploy.yml
  .github/workflows/infra.yml
Due: none

feat(ci): update deployment workflow to use uv for dependency management and add frontend URL handling
  .github/workflows/deploy.yml
Due: none

fix(ci): use uv venv for ty
  .github/workflows/deploy.yml
Due: none

feat(models): add unique constraint on github_username in User model feat(user): normalize github_username to lowercase in repository methods
  api/models.py
  api/repositories/user.py
Due: ty

fix: handle duplicate github_username in public profile lookup
  api/repositories/user.py
  api/scripts/find_duplicate_github_usernames.py
Due: ty

chore: add duplicate query script
  api/scripts/query_duplicates.py
Due: ty

feat: add db-query skill for direct database access
  .github/skills/db-query/SKILL.md
Due: none

fix: prevent duplicate github_username by clearing from old user
  api/repositories/user.py
Due: ty

chore: remove redundant db scripts (use db-query skill instead)
  api/scripts/find_duplicate_github_usernames.py
  api/scripts/query_duplicates.py
Due: ty

feat: add scripts for Azure logs fetching and database reset
  .github/instructions/cicd.instructions.md
  .github/instructions/python.instructions.md
  .github/instructions/terraform.instructions.md
  .github/skills/api-dev/SKILL.md
  .github/skills/azure-logs/SKILL.md
  .github/skills/azure-logs/fetch-logs.sh
  .github/skills/azure-logs/reset-database.sh
  .github/skills/cicd-debug/SKILL.md
  .github/skills/cicd-debug/debug-deploy.sh
  .github/skills/code-cleanup/SKILL.md
  .github/skills/database/SKILL.md
  .github/skills/domain-ssl/SKILL.md
  .github/skills/git-workflow/SKILL.md
  .github/skills/local-dev/SKILL.md
  .github/skills/progression-system/SKILL.md
  .github/skills/progression/SKILL.md
  .github/skills/progression/check-requirements.sh
  .github/skills/streaks/SKILL.md
Due: none

chore(skills): audit and consolidate copilot skills
  .github/instructions/api.instructions.md
  .github/instructions/frontend.instructions.md
  .github/instructions/local-dev.instructions.md
  .github/skills/api-dev/SKILL.md
  .github/skills/code-cleanup/SKILL.md
  .github/skills/commit-deploy/SKILL.md
  .github/skills/database/SKILL.md
  .github/skills/debug-progression/SKILL.md
  .github/skills/debug-progression/check-requirements.sh
  .github/skills/domain-ssl/SKILL.md
  .github/skills/git-workflow/SKILL.md
  .github/skills/local-dev/SKILL.md
  .github/skills/progression/SKILL.md
  .github/skills/query-db/SKILL.md
  .github/skills/streaks/SKILL.md
  CONTRIBUTING.md
  README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.mjs
  frontend/src/components/PhaseCelebrationModal.tsx
  frontend/src/components/PhaseCompletionCheck.tsx
  frontend/src/components/phase-badge-data.ts
  frontend/src/vite-env.d.ts
Due: eslint, typescript

feat: add PostCSS configuration for Tailwind CSS integration
  .github/instructions/api.instructions.md
  frontend/postcss.config.mjs
Due: none

feat: enrich phases overview and streamline progress APIs
  api/core/auth.py
  api/core/database.py
  api/main.py
  api/rendering/__init__.py
  api/repositories/__init__.py
  api/repositories/progress.py
  api/repositories/webhook.py
  api/routes/__init__.py
  api/routes/activity.py
  api/routes/certificates.py
  api/routes/github.py
  api/routes/health.py
  api/routes/questions.py
  api/routes/steps.py
  api/schemas.py
  api/services/badges.py
  api/services/content.py
  api/services/dashboard.py
  api/services/hands_on_verification.py
  api/services/progress.py
  api/services/questions.py
  api/services/steps.py
  api/services/submissions.py
  api/tests/conftest.py
  api/tests/test_admin_unlocks.py
  api/tests/test_progression_system.py
  api/tests/test_repositories.py
  api/tests/test_routes.py
  content/phases/phase0/index.json
  content/phases/phase1/index.json
  content/phases/phase2/index.json
  content/phases/phase3/index.json
  content/phases/phase4/index.json
  content/phases/phase5/index.json
  content/phases/phase6/index.json
  frontend/.gitignore
  frontend/README.md
  frontend/src/lib/api-client.ts
  frontend/src/pages/PhasesPage.tsx
Due: ty, eslint, typescript

refactor(api): enforce service DTO boundaries
  api/routes/certificates.py
  api/routes/dashboard.py
  api/routes/github.py
  api/routes/users.py
  api/services/certificates.py
  api/services/dashboard.py
  api/services/hands_on_verification.py
  api/services/phase_requirements.py
  api/services/submissions.py
  api/services/users.py
Due: ty

fix(frontend): prompt auth on phases CTA
  frontend/src/pages/PhasesPage.tsx
Due: eslint, typescript

feat(api,frontend): add alembic + certificate png
  api/alembic.ini
  api/alembic/env.py
  api/alembic/script.py.mako
  api/alembic/versions/86361256be54_initial_schema.py
  api/pyproject.toml
  api/rendering/certificates.py
  api/routes/certificates.py
  api/scripts/list_tables.py
  api/scripts/migrate.py
  api/scripts/recreate_database.py
  api/scripts/seed_test_certificate.py
  api/services/certificates.py
  frontend/index.html
  frontend/src/components/Layout.tsx
  frontend/src/components/ThemeToggle.tsx
  frontend/src/index.css
  frontend/src/lib/api-client.ts
  frontend/src/lib/theme.ts
  frontend/src/main.tsx
  frontend/src/pages/CertificatesPage.tsx
  frontend/src/pages/VerifyPage.tsx
Due: ty, eslint, typescript

chore(ci,docs): run migrations on deploy
  .github/instructions/local-dev.instructions.md
  .github/workflows/deploy.yml
  README.md
Due: none

fix(ci,api): run migrations on startup
  .github/workflows/deploy.yml
  api/alembic/env.py
  api/main.py
Due: ty

feat(profile): enhance ShareProfileButton with accessibility and copy functionality
  frontend/src/components/ActivityHeatmap.tsx
  frontend/src/components/PhaseCelebrationModal.tsx
  frontend/src/components/TopicContent.tsx
  frontend/src/lib/hooks.ts
  frontend/src/main.tsx
  frontend/src/pages/ProfilePage.tsx
Due: eslint, typescript

feat(api): enhance authentication logging, add rate limit storage configuration, and redact sensitive submission values in public profiles
  api/core/auth.py
  api/core/config.py
  api/core/ratelimit.py
  api/schemas.py
  api/services/ctf.py
  api/services/github_hands_on_verification.py
  api/services/users.py
  api/tests/test_phase5_devops.py
  api/tests/test_routes.py
Due: ty

fix(api): add logging for background init failures
  api/main.py
Due: ty

fix(api): include init error details in /ready response
  api/routes/health.py
Due: ty

fix(api): use pg_advisory_xact_lock to fix multi-worker migration race
  api/alembic/env.py
Due: ty

fix(api): move context.configure() inside advisory lock
  api/alembic/env.py
Due: ty

fix: use session-level pg_advisory_lock for migration serialization
  api/alembic/env.py
Due: ty

fix: add commit() after advisory lock acquisition and result.close()
  api/alembic/env.py
Due: ty

fix: handle 'table already exists' gracefully in migrations
  api/alembic/env.py
Due: ty

fix: properly handle advisory lock release after failed transaction
  api/alembic/env.py
Due: ty

fix: use psycopg2 for migrations to fix multi-worker race condition
  .dockerignore
  api/Dockerfile
  api/alembic/env.py
  api/pyproject.toml
  docker-compose.yml
Due: ty

feat: update api and frontend
  .github/instructions/api.instructions.md
  .github/instructions/local-dev.instructions.md
  .github/skills/api-separation-review/SKILL.md
  .github/skills/cicd-debug/SKILL.md
  .github/workflows/deploy.yml
  CONTRIBUTING.md
  FRONTEND_IMPROVEMENTS.md
  api/ARCHITECTURE.md
  api/core/database.py
  api/repositories/progress.py
  api/repositories/submission.py
  api/repositories/user.py
  api/repositories/utils.py
  api/services/badges.py
  api/services/dashboard.py
  api/services/progress.py
  api/services/questions.py
  api/services/users.py
  api/services/webhooks.py
  api/tests/test_repositories.py
  frontend/TESTING.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/KnowledgeQuestion.test.tsx
  frontend/src/components/KnowledgeQuestion.tsx
  frontend/src/components/Layout.tsx
  frontend/src/index.css
  frontend/src/lib/api-client.test.ts
  frontend/src/lib/constants.ts
  frontend/src/lib/theme.test.ts
  frontend/src/main.tsx
  frontend/src/pages/ProfilePage.tsx
  frontend/src/test/setup.ts
  frontend/vitest.config.ts
Due: ty, eslint, typescript

feat: add comprehensive API test suite with improved coverage
  API_TEST_IMPROVEMENTS.md
  API_TEST_REVIEW.md
  api/tests/conftest_improved.py
  api/tests/test_integration.py
  api/tests/test_routes_improved.py
  api/tests/test_services_dashboard.py
Due: ty

fix: add missing test fixtures to conftest.py
  api/tests/conftest.py
Due: ty

fix: override database dependency in test client fixture
  api/tests/conftest.py
Due: ty
